extends layout

block content
  h1 Sign Up
  form(action="/signup" method="post")
    label(for="email") Email
    br
    input(type="text" id="email" name="email")
    p
    label(for="password") Password
    br
    input(type="password" id="password" name="password")
    p
    label(for="pwconfirm") Password confirmation
    br
    input(type="password" id="pwconfirm" name="pwconfirm")
    p
    input.button(type="submit" value="Sign Up")
